@using WebProje5.Models
@model List<Blog>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="con-bot">
    @foreach (var y in Model)
    {
        <div class="left">
            <div class="bot-left">
                <img src="@y.BlogImage" alt="" />
            </div>
            <div class="left-text">
                <h4>@y.Baslik</h4>
                <span class="doller">@y.tarih.ToString("dd.mm.yyyy")</span>
                <p>@y.Aciklama.Substring(0, 100)</p>
                <p><a href="/Blog/BlogDetay/@y.ID/"><span class="read">Devamını oku >></span></a></p>
            </div>
        </div>
    }
    <!--
          <partial name="~/Views/Anasayfa/partial2.cshtml" />
    -->


</div>